@model ASP.NET_CRUD_APP.Models.Trip

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingMiles" class="control-label"></label>
                <input asp-for="StartingMiles" class="form-control" />
                <span asp-validation-for="StartingMiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingMiles" class="control-label"></label>
                <input asp-for="EndingMiles" class="form-control" />
                <span asp-validation-for="EndingMiles" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Stops" class="control-label"></label>
                <input asp-for="Stops" class="form-control" />
                <span asp-validation-for="Stops" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pallets" class="control-label"></label>
                <input asp-for="Pallets" class="form-control" />
                <span asp-validation-for="Pallets" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
