@{
    ViewData["Title"] = "Home Page";
}

<style>
    .responsive-image {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Journey Guardian 2024</h1>
    <img src="https://images.unsplash.com/photo-1631744591853-998c4308bbb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Responsive Image" class="responsive-image">
</div>

